#|--------------------- List of components to ignore -------------------------|
#|                        IDE AUTO CONFIG FOLDERS                             |
#|____________________________________________________________________________|
.ccls-cache/*
.vscode/*
.idea/*
cmake-build-debug/*

#|--------------------- List of components to ignore -------------------------|
#|                         DOCUMENTATIONS FOLDER                              |
#|____________________________________________________________________________|
Documentations/html
Documentations/latex

#|--------------------- List of components to ignore -------------------------|
#|                               EXEC FOLDER                                  |
#|____________________________________________________________________________|
Exec/Backtrace.*
Exec/*.png
Exec/*.log
Exec/*.ex
Exec/*.sh
Exec/*.txt
Exec/tmp_build_dir
Exec/ncell*
Exec/plt*
Exec/outputs

#|--------------------- List of components to ignore -------------------------|
#|                              TOOLS FOLDER                                  |
#|____________________________________________________________________________|
Tools/Convergence/*.ex
Tools/Convergence/tmp_build_dir

#|--------------------- List of components to ignore -------------------------|
#|                              TESTS FOLDER                                  |
#|____________________________________________________________________________|
Tests/tgv_3d/
Tests/tgv_2d/plt*/
Tests/tgv_2d/checkpoint*/
Tests/ldc/plt*/
Tests/ldc/checkpoint*/
Tests/ldc/*.log
Tests/tgv_2d/*.log


#|--------------------- List of components to ignore -------------------------|
#|                                DEVENV.SH                                   |
#|____________________________________________________________________________|
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
